/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-social/bootstrap-social.scss";
@import "datetimepicker/jquery.datetimepicker";
@import "chosen/chosen";

@import "global-overrides";
@import "colors";
@import "buttons";
@import "form";

.error {
  border: 1px solid red !important;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -30px;
}
.footer, .push {
  height: 10px;
}

.white-sheet {
  background-color: #ffffff;
  min-height: 550px;
  border: 1px solid black;
  overflow: auto;
}